#post-list {
  .heading {
    @include bg_water_surface();
    @include breakpoint() {
      display: inline-block;
      height: auto;
      padding: 110px 15px 0;
      text-align: center;
    }
  }

  // 投稿アイテム
  .post-item {
    display: flex;
    padding: 0 0 30px;
    border-bottom: 1px solid #bcbcbc;

    @include breakpoint() {
      display: block;
      padding: 0 0 20px;
    }

    &:first-of-type {
      margin: 50px 0 0;
    }

    &:not(:first-child) {
      padding: 30px 0;

      @include breakpoint() {
        padding: 20px 0;
      }
    }

    .item-left {
      max-width: 313px;
      margin: 0 47px 0 0;

      @include breakpoint() {
        max-width: initial;
        padding: 0;
      }

      .item-left-img {
        @include breakpoint() {
          position: relative;
          overflow: hidden;
          padding-top: 55%;
        }

        img {
          width: 313px;
          height: 193px;
          border-radius: 5px;
          object-fit: cover;

          @include breakpoint() {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .item-right {
      font-size: 12px;
      color: $base_gray;

      .ttl {
        a {
          font-size: 22px;
          line-height: 1.4;
          color: #222;
          letter-spacing: 1px;

          @include breakpoint() {
            font-size: 18px;
          }
        }

        @include breakpoint() {
          display: block;
          margin: 10px 0 0;
        }
      }

      .description {
        margin: 15px 0 0;
        font-size: clamp(13px, 0.589rem + 0.46vw, 15px); 
        color: #555;
        line-height: 1.6;

        @include breakpoint() {
          display: none;
        }
      }

      .date-area {
        display: flex;
        align-items: flex-end;

        @include breakpoint() {
          display: block;
          font-size: 12px;
          text-align: right;
          margin: 5px 0 0;
        }
      }
    }
  }

  // エリアページ
  &.area-page {
    .container {
      max-width: 1000px;
      a {
        cursor: pointer;
      }
      .area-block {
        margin: 60px 0;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 10px;

        @include breakpoint() {
          max-width: 355px;
          margin: 30px auto;

          &:last-child {
            margin: 30px auto 58px;
          }
        }

        .area-block-ttl {
          padding: 30px 0 25px;
          margin: 0 !important;
          font-size: 24px;
          line-height: 100%;
          color: #fff;
          text-align: center;
          background: url(../img/suidou-route-about.jpg) center;
          border-radius: 10px 10px 0 0;

          @include breakpoint() {
            padding: 16px 0;
            font-size: 16px;
          }
        }

        .areas {
          display: flex;
          flex-wrap: wrap;
          padding: 52px 88px 50px;
          background-color: #fff;
          border-radius: 0 0 10px 10px;

          @include breakpoint() {
            padding: 28px 55px 16px 23px;
          }
          li {
            position: relative;
            display: block;
            width: 112px;
            padding: 0 0 0 14px;
            margin: 0 0 15px 20px;
            font-weight: normal;
            color: #000;
            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              left: -20px;
              width: 0;
              height: 0;
              margin: auto;
              content: "";
              border-color: transparent transparent transparent #0c7ed3;
              border-style: solid;
              border-width: 10px 0 10px 20px;
              @include breakpoint() {
                left: -13px;
                border-width: 5px 0 5px 10px;
              }
            }
            .area-link {
              font-size: 20px;
              line-height: 170%;
              text-decoration: underline;
            }
            @include breakpoint() {
              width: 50px;
              padding: 0;
              margin: 0 4px 15px 15px;
              .area-link {
                font-size: 12px;
              }
            }
            .area-modal-wrapper {
              position: fixed;
              top: 0; bottom: 0; right: 0; left: 0;
              pointer-events: none;
              opacity: 0;
              transition-duration: .3s;
              z-index: 9999;
              &.active {
                opacity: 1;
                pointer-events: auto;
              }
              .area-modal-bg {
                position: absolute;
                width: 100%; height: 100%;
                background-color: rgba(0,0,0,.6);
              }
              .area-modal {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 32px);
                max-width: 1200px;
                margin: 0 !important;
                .area-modal-close {
                  position: absolute;
                  top: 0; right: 0;
                  transform: translateY(-100%);
                  font-size: 40px;
                  line-height: 1;
                  cursor: pointer;
                  font-weight: lighter;
                  color: #fff;
                  @media screen and (max-width: 460px) {
                    font-size: 28px;
                  }
                }
                .area-block-ttl {
                  text-decoration: underline;
                }
                @include breakpoint() {
                  .areas li {
                    width: 33.333%;
                    min-width: unset;
                  }
                  .area-link {
                    padding: 0 1.4vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // ページネーション
  .paginate {
    @include paginate_style();
  }

  // もっと見る
  .more {
    font-size: 16px;
    color: $base_blue;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
  }
  // 施工事例タグ表
  .sekou-tags {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 22px 60px 18px;
    background: #f7f7f7;

    &-ttl {
      font-size: 17px;
      font-weight: bold;
      color: $base_royal_blue;
      text-align: center;
    }

    &-list {
      width: 655px;
      margin: 15px auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &:nth-of-type(2) {
        overflow: hidden;
      }
    }

    &-item {
      font-size: 14px;
      font-weight: bold;
      color: $base_royal_blue;
      padding: 10px 30px;
      background: #fff;
      border: solid 1px #B0C4D6;
      border-radius: 5px;

      &:not(:nth-of-type(4n + 1)) {
        margin-left: 10px;
      }

      &:nth-of-type(n + 5) {
        margin-top: 15px;
      }
    }

    &-btn {
      font-size: 13px;
      color: #7B7B7B;
      font-weight: bold;
      margin-top: 15px;
      text-align: center;
      position: relative;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-left: solid 2px #7B7B7B;
        border-bottom: solid 2px #7B7B7B;
        top: 45%;
        left: calc(50% + 45px);
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

._small-area {
  margin: 0 !important;
}

.date-area._article {
  max-width: 1200px;
  margin: -45px auto 30px;
  padding: 0 30px 0;
  text-align: right;
  font-size: 0.8rem;
  color: gray;

  @include breakpoint() {
    font-size: 12px;
    padding: 0 20px 0;
  }
}