header {
  width: 100%;
  max-width: 100%;
}

.header {
  &-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 30px;
  }

  &-flex {
    display: flex;
    justify-content: space-between;
  }

  &-right {
    display: flex;
  }

  &-btn {
    width: 16.7vw;
    max-width: 200px;
    height: 43px;
    line-height: 43px;
    font-size: clamp(14px, 0.317rem + 1.16vw, 19px);
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    a {
      margin: 0 0 0 15px;
    }

    &:not(:first-of-type) {
      margin-left: 8px;
    }

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
    }
  }

  &-price {
    background: linear-gradient(180deg, rgba(0,140,31,1) 65%, rgba(0,140,31,1) 100%);

    &::before {
      background-image: url("../img/header_price.png");
      width: 22px;
      height: 22px;
      top: 15px;
      left: 32.5%;

     @media screen and (min-width:769px) and (max-width: 1000px) {
       width: 20px;
       height: 20px;
       top: 15px;
       left: 29.5%;
     }
    }
  }

  &-area {
    background: linear-gradient(180deg, rgba(0,87,189,1) 65%, rgba(0,87,189,1) 100%);

    &::before {
      background-image: url("../img/header_area.png");
      width: 22px;
      height: 22px;
      top: 12px;
      left: 17.5%;

      @media screen and (min-width:769px) and (max-width: 1000px) {
        width: 20px;
        height: 20px;
        top: 13px;
        left: 11.5%;
      }
    }
  }

  &-contact {
    background: linear-gradient(180deg, rgba(232,101,106,1) 65%, rgba(218,80,85,1) 100%);

    &::before {
      background-image: url("../img/header_contact.png");
      width: 17px;
      height: 17px;
      top: 15px;
      left: 13.5%;

      @media screen and (min-width:769px) and (max-width: 1000px) {
        width: 15px;
        height: 15px;
        left: 8.5%;
      }
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    margin: 25px auto 0;
  }

  &-item {
    font-size: clamp(14px, 0.478rem + 0.7vw, 16px);
    font-family: 'Noto Sans CJK JP', sans-serif;
    color: #222;
    font-weight: bold;
    padding: 4px 21px;
    border-left: 1px solid $base_royal_blue;

    &:last-of-type {
      border-right: 1px solid $base_royal_blue;
    }
  }
}