.crown {
  background: url(../img/bg-crown_02.png);

  &-inner {
    max-width: 995px;
    margin: 0 auto;
    padding: 67px 3vw 64px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &-left {
    width: 37%;
    max-width: 363px;
  }

  p {
    font-family: "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;    
  }

  &-head {
    font-size: clamp(35px, 0.738rem + 3.02vw, 48px);
    color: #fff65c;
  }

  &-txt {
    font-size: clamp(14px, -1rem + 3.02vw, 17px);
    margin: min(3vw, 35px) 0 0;
    color: #fff;
    line-height: 1.4;
  }

  &-annotation {
    font-size: 10px;
    margin: min(3vw, 35px) 0 0;
    color: #fff;
  }

  &-right {
    width: 63%;
    max-width: 624px;
  }

  &-certificate {
    font-size: clamp(14px, -1rem + 3.02vw, 17px);;
    color: #000470;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    margin: 3px 0 0;
  }
}