// CTA
.new-cta {
  position: relative;
  left: calc(-50vw + 50%);
  display: block;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Noto Sans CJK JP', sans-serif;
  @include breakpoint() {
    background-color: $base_light_blue;
  }
  img {
    object-fit: contain;
  }
  .achievement-banner {
    width: 100%;
    padding: 20.5px 0 18.5px 0;
    font-size: 22px;
    color: white;
    text-align: center;
    background-color: $base_royal_blue;
    @include breakpoint() {
      padding: 2.3vw 0;
      font-size: max(12px, calc((100vw - 38px) / 23));
    }
    .yellow {
      color: $base_yellow;
    }
    .emphasis {
      font-size: 1.2em;
    }
    p {
      margin: 0 !important;
      line-height: 1.3 !important;
    }
  }
  .inner {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    @include breakpoint() {
      padding: 0 3.6vw 3.2vw;
    }
  }
  .tel-contents {
    margin: 0 95px 0 0;
  }
  .ballon {
    position: relative;
    top: -15px;
    z-index: 2;
    display: flex;
    width: 11.28vw;
    min-width: 140px;
    max-width: 150px;
    height: 11.28vw;
    min-height: 140px;
    max-height: 150px;
    margin: 0 -50px 0 0;
    word-break: keep-all;
    background-color: $base_carmine;
    border-radius: 100px;
    @include breakpoint() {
      top: -2.5vw;
      width: auto;
      height: 14.5vw;
      min-width: auto;
      max-width: none;
      min-height: auto;
      max-height: none;
      padding: 2.5vw;
      margin: 0 4.1vw 0 0;
      border-radius: 10px;
      transform: scale(.9) translate(-20%, 10%);
    }
    &::after {
      position: absolute;
      top: calc(50% - 23px);
      right: -15px;
      z-index: -1;
      width: 0;
      height: 0;
      content: "";
      border-top: 23px solid transparent;
      border-bottom: 23px solid transparent;
      border-left: 50px solid $base_carmine;
      @include breakpoint() {
        right: -3.3vw;
      }
    }
    p {
      margin: auto !important;
      font-size: clamp(16px, 1.5vw, 18px);
      font-weight: bold;
      line-height: 25px !important;
      color: white;
      text-align: center;
      @include breakpoint() {
        font-size: 2.5vw;
        line-height: 1.3 !important;
        padding: 2vw 0 0 0;
      }
    }
    .emphasis {
      font-size: 1.5em;
      font-weight: bold;
      @include breakpoint() {
        font-size: 1.3em;
      }
    }
    &.is-pc {
      @include breakpoint() {
        display: none;
      }
    }

    &.is-sp {
      display: none;

      @include breakpoint() {
        display: block;
      }
    }
  }
  .header {
    margin: 20px 0 0;
    font-size: clamp(14px, 1.8vw, 19px);
    line-height: 1 !important;
    color: $base_royal_blue;
    text-align: center;
    span {
      font-size: min(2.6vw, 31px);

      @include breakpoint() {
        font-size: 4vw;
      }
    }
    .bold {
      font-size: min(3vw, 21px);
      display: inline-block;

      @include breakpoint() {
        display: block;
        padding: 0 0 1.9vw;
        font-size: 4.5vw;
      }
    }
  }
  .tel-imgs {
    height: 72px;
    margin: 30px auto 0;
    @include breakpoint() {
      margin: 4.1vw 0 0;
    }

    &-wrap {
      @include breakpoint() {
        transform: scale(.75) translateX(-25%);
      }
    }
  }
  .icon {
    width: 16.3% !important;
    margin: 0 0 0 -1.5% !important;
    @include breakpoint() {
      width: 12vw !important;
      margin: 0 1.6vw 0 0 !important;
    }
  }
  .number {
    width: 72% !important;
    @include breakpoint() {
      width: 59vw !important;
    }
  }
  .reception-time {
    font-size: clamp(10px, 1.8vw, 21px);
    line-height: 1;
    color: $base_royal_blue;
    background: $base_light_blue;
    padding: 8px 18px;
    margin: 10px 0 0;
    @include breakpoint() {
      width: 95.8vw;
      height: auto;
      margin: 3vw 0 0 -0.5em !important;
    }
    span {
      font-size: 1.2em;
      color: $base_carmine;
    }
  }
  .sp-bottom {
    padding: 0 5.6vw;

    &-wrap {
      display: flex;
      align-items: center;
    }
  }
  .tel-annotation {
    font-size: min(14px, 1.6vw);
    font-size: clamp(14px, 1.049rem + -0.23vw, 15px);
    color: #ef033b;
    text-align: center;
    font-weight: bold;
    margin: -1.7% 0 0 15.5%;
    @include breakpoint() {
      margin: max(8px, 2.2vw) 0 0 !important;
      font-size: max(12px, 3.7vw);
    }
  }
}

// cta-2
.post-content .new-cta-2 {
  margin: 0 calc(50% - 50vw);
  p {
    line-height: 1.2;
  }
  ul {
    margin: 0;
    li {
      margin: 0;
      &::before {
        display: none;
      }
    }
  }
}

.new-cta-2 {
  padding: 0 3vw;
  background: $base_light_blue;
  background: linear-gradient($base_light_blue 88%, transparent 0%);

  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    width: 70%;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
  }

  &-flag {
     width: 31.17%;
  }

  &-left-large {
    font-size: clamp(37px, 0.863rem + 3.02vw, 50px);
    color: #004a8e;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    position: relative;

    .marker {
      background:linear-gradient(transparent 60%, #FFFBA0 60%);
    }
    
    &::before {
      content: '・・・・';
      position: absolute;
      font-size: clamp(27px, -0.632rem + 4.18vw, 40px);  
      top: -20%;
      left: 0;
      letter-spacing: .4rem;
    }
  }

  &-right {
    width: 30%;
  }

  &-phone-wrap {
    display: flex;
    align-items: end;
    margin: 8px 0 0;
  }
  
  &-icon {
    width: 15%;
  }

  &-phone-number {
    font-size: clamp(62px, 1.31rem + 5.34vw, 85px);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ef033b;
    margin: 0 0 0 20px;
  }

  &-reception {
    font-size: clamp(10px, 1.8vw, 20px);
    line-height: 1;
    color: #01529c;
    margin: 15px 0 0;
    font-weight: bold;

    span {
      font-size: 1.2em;
      color: #ef033b;
    }
  }

  &-list {
    border: 2px solid $base_royal_blue;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: min(3.7vw,37px) min(1.8vw,26px) min(2.7vw,33px);
    position: relative;

    &::before {
      content: 'お支払い方法';
      position: absolute;
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-size: clamp(14px, 0.652rem + 0.46vw, 16px);
      color: #fff;
      padding: 1% 0;
      background: $base_royal_blue;
      border-radius: 50px;
      width: 35%;
      text-align: center;
      top: -13%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 min(3vw, 43.2px);

    &:not(:last-of-type) {
      border-right: 2px solid #bdbdbd;
    }

    svg {
      width: auto;
      height: min(2vw, 14px);
    }

    img {
      height: 3vw;
      margin: 0.5vw 0 0;
      object-fit: contain;
    }
  }
}

// CTA 共通
.tel-imgs {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  height: auto;
  pointer-events: none;
  @include breakpoint() {
    pointer-events: auto;
    width: calc(73vw - 4px);
    padding: 2.5vw 17vw 2.6vw 3.4vw;
    margin: 3.2vw 3.3vw 0;
    background-color: $base_yellow;
    border: 2px solid $base_royal_blue;
    border-radius: 10px;
    box-shadow: 0 0.8vw 0 0 #00000040;
  }
  .icon {
    width: 9.8vw;
    margin: 0 2.6vw 0 0;
    @include breakpoint() {
      width: 11.8vw;
      margin: 0 1.7vw 0 0;
    }
  }

  .number {
    width: 48.6vw;
    @include breakpoint() {
      width: 59.2vw;
    }
  }
  .call-ballon {
    position: absolute;
    top: -2.2vw;
    right: -2.2vw;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 16vw;
    height: 16vw;
    font-size: 2.5vw;
    color: $base_yellow;
    text-align: center;
    background-color: $base_royal_blue;
    border-radius: 100px;
    @include breakpoint() {
      display: flex;
    }
    .emphasis {
      font-size: 1.3em;
    }
    &::before {
      position: absolute;
      bottom: 1.5vw;
      left: -2vw;
      z-index: -1;
      width: 0;
      height: 0;
      content: "";
      border-top: 12px solid transparent;
      border-right: 40px solid $base_royal_blue;
      border-bottom: 12px solid transparent;
      transform: rotate(-20deg);
    }
    p {
      margin: 0 !important;
      line-height: 1.2 !important;
    }
  }
}

.phone-number {
  font-size: clamp(53px, calc(-0.198rem + 6.26vw), 72px);
  color: #ef033b;
  font-weight: bold;
  position: relative;
  margin: -1% 0 0;

  @include breakpoint() {
    font-size: clamp(7vw, calc(-0.096rem + 8.14vw), 61px);
    margin: 10px 0 0 0;
  }

  span {
    font-size: .7em;
  }

  &-text {
    font-size: .27em;
    position: absolute;
    left: 5%;

    @include breakpoint() {
      font-size: clamp(0.625rem, calc(-0.003rem + 2.87vw), 1.375rem);
      transform: scale(.9);
      top: -20%;
      left: 2%;
    }
  }

  &.big {
    font-size: clamp(3.125rem, calc(-0.637rem + 7.83vw), 5.625rem);

    @media screen and (min-width: 1281px) {
      font-size: clamp(5.625rem, calc(0.24rem + 6.73vw), 7.813rem);
    }

    @include breakpoint() {
      font-size: clamp(28.5px, calc(-0.036rem + 7.89vw), 61px);
      margin: 10px 0 0 0;
    }

    .phone-number-text {
      @include breakpoint() {
        top: -8%;
      }
    }
  }

  &-figure {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -3px;
  }

  &-text, &-figure {
    margin: 0 !important;
  }
}

