.reason-of-choose {
  margin: 1.4vw 0 0;

  &._page {
    margin-bottom: -50px;

    @include breakpoint() {
      margin-bottom: -40px;
    }
  }

  .content {
    padding: 4.3vw 0;
    margin: -3.5vw 0 0;
    background-color: $base_light_turquoise;
    margin: 0 calc(50% - 50vw) -50px;
    @include breakpoint() {
      width: 100vw;
      padding: 111px 0 11.8vw;
      margin: -75px 0 -40px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-of-type(2) {
      @include breakpoint() {
        padding: 20px 0 11.8vw;
      }
    }

    &._low {
      @include breakpoint() {
        margin-top: 0;
        padding: 20px 0 0 0;
      }
    }

    &._area {
      padding: 90px 0 0 0;
    }
  }

    #toc_area {
      .post-content {
        max-width: 100%;
      }
    }

  .sub-header {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 0;
    @include breakpoint() {
      font-size: 20px;
      padding: 0;
    }

    &::before {
      display: none;
    }
  }
  .inner {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 6.9vw auto 0;
    @include breakpoint() {
      gap: 5.4vw 3.8vw;
      margin: 10.8vw auto 35px;
    }

    &._top {
      justify-content: initial;
      margin-top: 70px;
      padding: 0 30px;

      @include breakpoint() {
        margin-top: 30px;
        padding: 0 15px;
      }
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
    @include breakpoint() {
      width: 45vw;
    }
    @media screen and (max-width: 320px) {
      width: 90vw;
    }
    .icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 235px;
      height: 235px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 100%;
      @include breakpoint() {
        width: 32.6vw;
        height: 32.6vw;
      }
      img {
        width: unset;
        height: unset;
        @include breakpoint() {
          width: 16.85vw;
          height: 16.85vw;
        }
      }
      .num {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 61px;
        height: 61px;
        font-family: "Oswald", sans-serif;
        font-size: 26px;
        border-radius: 100%;
        @include breakpoint() {
          width: 8.1vw;
          height: 8.1vw;
          font-size: clamp(12px, 3.4vw, 26px);
        }
      }
    }
    .header {
      margin: 18px 0 0;
      font-size: 20.7px;
      line-height: 1.5;
      @include breakpoint() {
        font-size: clamp(14px, 2.7vw, 21px);
      }
      @media screen and (max-width: 400px) {
        .pc-br {
          display: none;
        }
      }
      &._top {
        margin: 0 0 0 45px;
      }
    }
    .description {
      width: 246px;
      margin: 31px 0 0;
      font-size: 16px;
      line-height: 2;
      text-align: left;
      @include breakpoint() {
        width: 100%;
        margin: 4.7vw 0 0;
        font-size: clamp(14px, 2.9vw, 22px);
      }

      &._top {
        width: 100%;
        margin: 20px 0 0;
      }
    }

    &._top {
      width: calc(50% - 50px / 2);
      display: block;
      text-align: left;
      position: relative;

      @include breakpoint {
        width: 100%;
      }

      &:not(:nth-child(2n + 1)) {
        margin-left: 50px;

        @include breakpoint {
          margin-left: 0;
        }
      }

      &:nth-child(n + 3) {
        margin-top: 20px;

        @include breakpoint {
          margin-top: 0;
        }
      }

      &:not(:first-of-type) {
        @include breakpoint {
          margin-top: 20px;
        }
      }
    }
  }
}

.subttl {
  font-size: 20.7px;
  color: #1b43ab;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;

  @include breakpoint {
    font-size: 16px;
    padding: 0 15px;
  }
}

.num {
  &._top {
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    border-radius: 100%;
    background-color: #f6a030;
    color: #fff;
    @include breakpoint() {
      width: 30px;
      height: 30px;
      font-size: clamp(12px, 3.4vw, 26px);
      left: 0;
    }
  }
}

.roc-shortcode {
  margin-bottom: -50px;

  @include breakpoint() {
    margin-bottom: -40px;
  }
}