.service-flow {
  margin: 0 0 50px;
  padding: 0 3vw;

  &-ttl {
    @include heading();
    margin: 0 0 60px 0 !important;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    width: calc(100% / 3 - 75px * 2 / 3);
    position: relative;

    &:not(:nth-child(3n + 1)) {
      margin-left: 7.5%;
    }

    &:nth-of-type(n + 4) {
      margin-top: 50px; 
    }

    &::before {
      position: absolute;
      font-family: "Roboto", sans-serif;
      font-size: clamp(21px, 0.755rem + 1.16vw, 26px);
      font-weight: bold;
      width: 140px;
      padding: 8px 0;
      color: #fff;
      background: #2e86d8;
      text-align: center;
      border-radius: 50px;
      left: 50%;
      transform: translateX(-50%);
      top: -20px;
    }

    &:first-of-type::before {
      content: 'STEP 01';
    }

    &:nth-of-type(2)::before {
      content: 'STEP 02';
    }

    &:nth-of-type(3)::before {
      content: 'STEP 03';
    }

    &:nth-of-type(4)::before {
      content: 'STEP 04';
    }

    &:last-of-type::before {
      content: 'STEP 05';
    }
  }

  &-img {
    img {
      border-radius: 10px;
    }

    &:not(.first)::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      border-top: solid 6px #95bbe7;
      border-right: solid 6px #95bbe7;
      top: 25%;
      left: -19.5%;
      transform: translateY(-50%) rotate(45deg);
    }

    &.fourth::before, &.fifth::before {
      top: 30%;
    }
  }

  &-subttl {
    font-size: clamp(19px, 0.853rem + 0.7vw, 22px);
    font-weight: bold;
    color: $base_royal_blue;
    margin-top: 15px;
  }

  &-txt {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 12px;
  }
}