.service {
  padding: 0 3vw 50px;

  &-ttl {
    @include heading();
  }

  &-box {
    border: #cdcdcd;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.5);
    padding: 40px 30px 35px 45px;
    display: flex;
    justify-content: space-between;
  }
  
  &-left {
    width: 51%;
  }

  &-subttl {
    font-size: clamp(16px, 0.777rem + 0.46vw, 18px);
    font-weight: 500;

    span {
      font-size: clamp(31px, 2.6vw, 38px);
      font-weight: bold;
      color: $base_royal_blue;
      padding-right: 15px;
    }
  }

  &-label {
    font-size: clamp(16px, 0.777rem + 0.46vw, 18px);
    color: #fff;
    padding: 10px 0;
    background: $base_royal_blue;
    border-radius: 50px;
    text-align: center;
    margin: 5.5% 0 0;
  }

  &-price-calc {
    font-size: clamp(16px, 0.331rem + 1.39vw, 22px);
    font-weight: 500;
    margin: 4.3% 0 0;
    padding: 0 0 0 50px;

    &.low {
      text-align: right;
      padding: 0 9.8% 4.2% 0;
      border-bottom: solid 2px #cdcdcd;
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0;
  }

  &-circle {
    font-size: clamp(12px, 0.415rem + 0.7vw, 15px);
    color: $base_royal_blue;
    background: #fcea4f;
    text-align: center;
    padding: 21px 9px;
    border-radius: 50%;
    line-height: 1.3;
    margin: 0 15px 0 0;

    span {
      font-size: clamp(18px, 0.79rem + 0.7vw, 21px);
      font-weight: bold;
      margin: 5px 0 0;
    }
  }

  &-txt {
    font-size: clamp(16px, 0.331rem + 1.39vw, 22px);
    font-weight: 500;
    margin: 0 15px 0 0;
  }

  &-total {
    font-size: clamp(15p, 0.714rem + 0.46vw, 17px);
    color: #f61a1a;

    span {
      font-family: 'Roboto', sans-serif;
      font-size: clamp(38px, 0.256rem + 4.41vw, 57px);
      font-weight: bold;
    }
  }

  &-right {
    width: 42%;
  }
}